[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
pylint = "*"
autopep8 = "*"
pypubsub = "*"
numpy = "*"
python-rtmidi = "*"
matplotlib = "*"
pyqt5 = "*"
python-osc = "*"
scipy = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
